.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:200px;
  height: 600px;
  margin: auto;
}

.formStyle {
  padding:10px;
  display: inline-block;
  width: 100%;
  height: auto;
  border: 3px solid orange;
}

.inputStyle {
  border:none;
  width: 90%;
  border-bottom: 2px solid red;
}

.buttonStyle {
  width:90%;
  border:2px solid green;
  background:#fff;
  height:30px;
}
