$blue: #228be6; // 주석!

.Button {
  display: inline-flex;
  // text가 버튼의 중앙에 위치하는데 chrome 업데이트 이후
  // align-items: center;
  // justify-content: center;를 추가시켜야 텍스트가 버튼의 중앙에 위치하게 된다
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  padding-left: 1rem;
  padding-right: 1rem;

  // & = 자기 자신을 가리킨다
  // .Button.large
  &.large {
    height: 3rem;
    font-size: 1.25rem;
  }

  // .Button.medium
  &.medium {
    height: 2.25rem;
    font-size: 1rem;
  }

  // .Button.small
  &.small {
    height: 1.75rem;
    font-size: 0.75rem;
  }

  background: $blue;

  // .Button:hover
  &:hover {
    background: lighten($color: $blue, $amount: 10%);
  }
  // .Button:active
  &:active {
    background: darken($color: $blue, $amount: 10%);
  }
  // CSS 인접형제선택자 +
  // A + B에서 A를 제외한 뒤의 모든 형제들을 선택
  & + & {
    margin-left: 1rem;
  }
}

// .Button + .Button {
//   margin-left: 1rem;
// }
