.board {
  background-color: rgba(80, 120, 255, 1);
  margin-top: 4rem;
  margin-right: 2rem;
  padding: 1.2rem;
  min-width: 250px;
  border-radius: 0.3rem;
  color: white;
  outline: none;
  cursor: default;
  &:first-child {
    margin-left: -1.8rem;
  }
  div {
    font-size: 1.5rem;
    font-weight: 600;
    cursor: default;
    button {
      border: none;
      background-color: rgba(80, 120, 255, 1);
      color: white;
      font-size: 1.2rem;
      vertical-align: bottom;
      cursor: pointer;
    }
  }
  input {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: none;
    border-bottom: 0.1rem solid white;
    background-color: rgba(80, 120, 255, 1);
    width: 79.5%;
    &::placeholder {
      color: white;
      opacity: 0.7;
    }
  }
  button {
    border: none;
    background-color: rgba(80, 120, 255, 1);
    color: white;
    font-size: 1.4rem;
    vertical-align: bottom;
  }
  ul {
    padding: 0;
    margin: 0;
  }
}
