header {
  display: flex;
  align-items: center;
  position: fixed;
  padding: 1rem;
  width: 100%;
  background-color: rgb(80, 120, 255);
  color: white;
  outline: none;
  cursor: default;
  .icon {
    font-size: 2rem;
  }
  .app-name {
    font-size: 2.2rem;
    padding-left: 1rem;
  }
  .login-state {
    position: absolute;
    font-size: 1.4rem;
    font-weight: 600;
    right: 50px;
  }
}
